Source: jasso
Maintainer: Pete Ryland <pdr@piglet.ch>
Priority: optional
Section: net
Rules-Requires-Root: no
Build-Depends:
 cabal-install,
 debhelper-compat (= 13),
 elm-compiler,
 libxml2-dev,
 pandoc,
 uglifyjs,
Standards-Version: 4.6.1
Homepage: https://dev.piglet.ch/jasso/jasso
Vcs-Browser: https://dev.piglet.ch/jasso/jasso
Vcs-Git: https://dev.piglet.ch/jasso/jasso.git

Package: jasso
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Jasso Single Sign-On System from Piglet Engineering
 Jasso is a modular identity provider (IdP).  It currently supports:
            Source   Sink
   LDAP     yes      no
   SAML2    no       yes
   OIDC     no       yes
   SCIM     no       no
   Radius   no       no
   Postgres no       -
